{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalOneExecuteBtn', '1회 실행'], ['globalImmediatelyExecuteBtn', '즉시 실행']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('normal', '설정', true) }}
    {{ macros.m_tab_head('auto', '자동', false) }}
  {{ macros.m_tab_head_end() }}
</nav>
<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      <!-- {{ macros.info_text_go('api_epg', 'EPG', value=arg['api_epg']) }} -->
      {{ macros.info_text_go('api_epgall', 'EPGALL', value=arg['api_epgall']) }}
      {{ macros.info_text_and_buttons('epg_updated_time', '', [['make_epg_btn', '다시 만들기']], value='만든 시간 : ' + arg['epg_updated_time'], desc=None) }}
      {{ macros.m_hr() }}

      {{ macros.setting_checkbox('block_wavve', 'WAVVE 요청 차단', value=arg['block_wavve'], 
      desc=[
      '- 오라클 환경에서는 ON', 
      '- 오라클 환경에서 Proxy URL을 설정했다면 OFF', 
      '📌 WAVVE 관련 Proxy URL 설정은 support_site플러그인의 WAVVE 탭에서 설정'
      ]) }}
      {{ macros.m_hr() }}

      {{ macros.setting_checkbox('use_alive_m3u', 'ALive m3uall 사용', value=arg['use_alive_m3u'], 
      desc=[
      'OFF : 선택한 제공자로 epg 생성 (기존방식)',
      'ON : ALive m3uall의 tvg-name으로 epg 생성' 
      ]) }}
      {{ macros.setting_input_text('alive_m3uall_url', 'ALive m3uall url', value=arg['alive_m3uall_url']) }}
      {{ macros.m_hr() }}

      <div id="use_alive_m3u_div" class="collapse">
      {{ macros.setting_checkbox('KT', 'KT', value=arg['KT']) }}
      {{ macros.setting_checkbox('LG', 'LG', value=arg['LG']) }}
      {{ macros.setting_checkbox('SK', 'SK', value=arg['SK']) }}
      {{ macros.setting_checkbox('DAUM', 'DAUM', value=arg['DAUM']) }}
      {{ macros.setting_checkbox('NAVER', 'NAVER', value=arg['NAVER']) }}
      {{ macros.setting_checkbox('WAVVE', 'WAVVE', value=arg['WAVVE']) }}
      {{ macros.setting_checkbox('TVING', 'TVING', value=arg['TVING']) }}
      {{ macros.setting_checkbox('SPOTV', 'SPOTV', value=arg['SPOTV']) }}
      {{ macros.m_hr() }}
      </div>

      <!-- {{ macros.setting_checkbox('match_m3u_epg', 'm3u 와 epg 채널 매치', value=arg['match_m3u_epg'], desc=['experimental']) }}
      {{ macros.m_hr() }} -->
      
      {{ macros.setting_buttons([['delete_setting_file_btn', '삭제']], left='EPG2XML 설정 파일 삭제', desc=['file 폴더 삭제 ( Channel.json / epg2xml.json / xmltv.xml )'] ) }}

    {{ macros.m_tab_content_end() }}  
    {{ macros.m_tab_content_start('auto', false) }}
      {{ macros.global_setting_scheduler_button(arg['is_include'], arg['is_running']) }}
      {{ macros.setting_input_text('main_interval', '스케쥴링 실행 정보', value=arg['main_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
      {{ macros.setting_checkbox('main_auto_start', '시작시 자동실행', value=arg['main_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
    {{ macros.m_tab_content_end() }}
</div>
</form>

<script type="text/javascript">


$(document).ready(function(){
  use_collapse("use_alive_m3u", reverse=true)
});


$('#use_alive_m3u').change(function() {use_collapse('use_alive_m3u', reverse=true);});


$("body").on('click', '#delete_setting_file_btn', function(e){
  e.preventDefault();
  globalSendCommand('delete_setting_file', null, null, null, function(ret){
    $('#epg_updated_time').html(`만든 시간 : `);
  });
});


$("body").on('click', '#make_epg_btn', function(e){
  e.preventDefault();
  globalSendCommand('make_epg', null, null, null, function(ret){
    $('#epg_updated_time').html(`만든 시간 : ${ret.updated_time}`);
  });
});
</script>
{% endblock %}