{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalOneExecuteBtn', '1회 실행'], ['globalImmediatelyExecuteBtn', '즉시 실행']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('normal', '설정', true) }}
    {{ macros.m_tab_head('auto', '자동', false) }}
  {{ macros.m_tab_head_end() }}
</nav>
<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      <!-- {{ macros.info_text_go('api_epg', 'EPG', value=arg['api_epg']) }} -->
      {{ macros.info_text_go('api_epgall', 'EPGALL', value=arg['api_epgall']) }}
      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('main_A1', 'A1사용자', value=arg['main_A1'],  desc=['오라클 A1 사용자는 반드시 ON - WAVVE 소스 요청 제거'] ) }}
      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('main_KT', 'KT', value=arg['main_KT']) }}
      {{ macros.setting_checkbox('main_LG', 'LG', value=arg['main_LG']) }}
      {{ macros.setting_checkbox('main_SK', 'SK', value=arg['main_SK']) }}
      {{ macros.setting_checkbox('main_DAUM', 'DAUM', value=arg['main_DAUM']) }}
      {{ macros.setting_checkbox('main_NAVER', 'NAVER', value=arg['main_NAVER']) }}
      {{ macros.setting_checkbox('main_WAVVE', 'WAVVE', value=arg['main_WAVVE']) }}
      {{ macros.setting_checkbox('main_TVING', 'TVING', value=arg['main_TVING']) }}
      {{ macros.setting_checkbox('main_SPOTV', 'SPOTV', value=arg['main_SPOTV']) }}
      {{ macros.m_hr() }}
      {{ macros.setting_buttons([['delete_setting_file_btn', '삭제']], left='EPG2XML 설정 파일 삭제', desc=['file 폴더 삭제 ( Channel.json / epg2xml.json / xmltv.xml )'] ) }}

    {{ macros.m_tab_content_end() }}  
    {{ macros.m_tab_content_start('auto', false) }}
      {{ macros.global_setting_scheduler_button(arg['is_include'], arg['is_running']) }}
      {{ macros.setting_input_text('main_interval', '스케쥴링 실행 정보', value=arg['main_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
      {{ macros.setting_checkbox('main_auto_start', '시작시 자동실행', value=arg['main_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
    {{ macros.m_tab_content_end() }}
</div>
</form>

<script type="text/javascript">
$("body").on('click', '#delete_setting_file_btn', function(e){
  e.preventDefault();
  globalSendCommand('delete_setting_file');
});
</script>
{% endblock %}